@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #011627;
    --secondary: #334452;
    --red: #e71d36;
    --white: #fff;
    --gray: #ccd0d3;
    --darkgray: #505050;
    --font-roboto: "Roboto, sans-serif";
}
*,
*:before,
*:after {
    box-sizing: "border-box";
    margin: 0;
    padding: 0;
    font-family: "inhirit";
}
